<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>
  <nav class="navbar bg-body-tertiary">
  <div class="flex items-center justify-center h-screen">
    <a class="navbar-brand my-1 mx-5 "><h1>PDF Merger Tool</h1></a>
  </div>
</nav>

<div class="container my-3">
  <h3>YOUR FAVORITE PDF MERGER TOOL</h3>
  <form method ="post" action="/merge" enctype="multipart/form-data"
 >

    <div class="mb-3">
      <label for="formFile" class="form-label">Select the pdf file you want to merge</label>
      <input class="form-control" type="file" name="pdfs" id="formFile" multiple accept=".pdf">
      <input class="btn btn-primary my-4" type="submit" value="Merge PDF">
    </div>
  </form>
<!-- <div class="mb-3">
  <label for="formFileMultiple" class="form-label">Multiple files input example</label>
  <input class="form-control" type="file" id="formFileMultiple" multiple accept=".pdf">
</div> -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>